{{template "header" .}}


<p>this is home</p>

<div class="box-s btn w-1-4 vh-s search" >show json data<br></div>
<div class="tagName"></div>
<script>
    //send link down
		$(function() {
		$(".search").click(function() {
			console.log(location.hostname);
			console.log(document.domain);
			var data = [];
			var cache = {};
			var found = [];
			$.ajax({
				url: "http://localhost:5002/first",
				dataType: "json",
				contentType: 'application/json; charset=utf-8',
				success: function(data) {
					console.log("sucess with data ", data);
				},
				error: function() {
				    
					console.log("error has occured with data ", data)
				}
			}).then(function(data) {
				
				console.log(data.name);
                $(".tagName").append(`<p> here is the data: `+data.name+ `</p>`);
				
			});
		});
		});
     </script>  

     <script src="/assets/scripts/scripts.js"></script>
{{template "footer" .}}